.main-container {
  width: 90%;
  height:25em;
  padding: 5%;
  margin: 0 auto;
  background-color: #ebebe0;
  background-size: contain;
}
.shape{
  text-align: center;
  background-color: #33cc33;
  margin-left:40%;
}

.start-button{
  text-align: center;

}
.circle {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 15em;
  width: 15em;
  /* border-radius: 50%; */
  display: inline-block;
}
